body{
  margin: 0;
  background: url('./assets/images/pic1.jpg') no-repeat;
  background-size: cover;
}
.todocontainer{
  width: 60%;
  height: 600px;
  border-radius: 5px;
  margin-left: 450px;
  margin-top: 100px;
  margin-bottom: 200px;
  background: radial-gradient(circle, rgba(122,96,28,1) 0%, rgba(90,18,17,1) 100%);
  border-style: inherit;
  border: solid 2px rgb(79, 22, 22);
  text-align: center;
  font-family:fantasy;
  color: rgb(242, 245, 247);
}
.container{
}
.inputli{
  width: 300px;
  padding:10px 20px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(79, 22, 22);
  
}


.formm{
   display: flex;
   flex-direction: row;
   width: auto;
   margin: 20px;
   margin-left: 60px;
   height: 50px;
  
   
}

.btn2:hover{
  background: green;
  color: white;
}
.btn1{
   background: bisque;
}
.btn1:hover{
  background: rgb(174, 174, 42);
  border-style: none;
}
.list{
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  
  text-align: left;
}
.lii{
  padding: 10px 20px ;
  width: 380px;
  background: bisque;
  color: black;
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  
}
.text{
  flex: 1;
}